#home {
    position: relative; /* Set the parent container to relative positioning */
    overflow: hidden; /* Hide any overflowing content */
}

#home::before {
    content: '';
    position: fixed; /* Use fixed positioning for the background */
    top: 0;
    right: 0;
    left: 0;
    width: 100%; /* Set width to cover the entire viewport */
    height: 100%; /* Set height to cover the entire viewport */
    background-image: url('../../../public/images/home-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}