#login {
    padding: 0 calc(3.5vw + 5px);
    min-height: calc(100vh - 70px);
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: flex;
    justify-content: center;
}

#login::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('../../../public/images/login-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}

.login-content {
    width: 60%;
    max-width: 650px;
    margin-top: 80px;
    height: fit-content;
}

.sing-up {
    width: 100%;
    padding: 15px 0;
    background: #0063e5;
    border: none;
    color: white;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 250ms ease;
}

.sing-up:hover {
    transform: scale(1.05);
}

.login-discription {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    color: rgba(249, 249, 249, 0.8);
}

.CTA {
    text-align: center;
    font-size: 2.7rem;
    font-weight: bold;
}

.CTAtwo {
    width: 100%;
    height: 100%;
    margin-top: 5px;
}