.alert-container {
  min-width: 200px;
  max-width: 350px;
  width: 40vw;
  padding: 1rem;
  background-color: rgb(54, 74, 255);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 10;
  animation: slide-in 0.3s ease-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.alert-close-btn {
  font-weight: bold;
  font-size: 18px;
  margin: 0 5px;
  cursor: pointer;
}